<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:15044</destination>

        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <mdcKeyFieldName>requestTime=requestTime</mdcKeyFieldName>
            <mdcKeyFieldName>responseTime=responseTime</mdcKeyFieldName>
            <mdcKeyFieldName>latency=latency</mdcKeyFieldName>
            <mdcKeyFieldName>txLog=txLog</mdcKeyFieldName>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%-5level] - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STASH"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>